@media (max-width: 960px) {
    #main-navigation {
      width: 100% !important;
    }
    .main-menu-container, .toggle-menu-button-container  {
      min-width: 100% !important;
      width: 100% !important;
    }
    .toggle-menu-button, .toggle-menu-button-container {
      margin: 0 auto !important;
    }
    .planets-container {
      padding-bottom: 30px !important;
    }
    .center-content-box .box-border {
      overflow-x: auto !important;
      max-width: 100% !important;
    }
    .center-content-box {
      min-width: 0 !important;
    }
    .center-content-box table {
      font-size: 11px !important;
    }
    .center-content-box .box-border form table {
      width: 100% !important;
    }
    .center-content-box .box-border form input[type="text"] {
      width: 100% !important;
      color: white !important;
    }
    .footer-container {
      position: relative;
    }
  }
