@media (max-width: 960px) {
    #main-navigation {
      width: 100% !important;
    }
    .top-bar {
      display: flex !important;
      align-items: center !important;
      min-height: 40px !important;
    }
    .top-bar .uk-navbar-center {
      position: relative !important;
      left: auto !important;
      top: auto !important;
      transform: none !important;
      width: 100% !important;
      justify-content: center !important;
      align-items: center !important;
    }
    .top-bar .uk-navbar-nav {
      gap: 20px !important;
      justify-content: center !important;
      width: 100% !important;
      align-items: center !important;
    }
    .top-bar .uk-navbar-nav > li > a {
      min-height: auto !important;
      align-items: center !important;
      display: flex !important;
    }
    .main-menu-container, .toggle-menu-button-container  {
      min-width: 100% !important;
      width: 100% !important;
    }
    .toggle-menu-button, .toggle-menu-button-container {
      margin: 0 auto !important;
    }
    .planets-container {
      padding-bottom: 30px !important;
    }
    .center-content-box {
      overflow-x: auto !important;
      min-width: 0 !important;
    }
    .center-content-box .box-border {
    overflow-x: auto !important;
    max-width: 100% !important;
    }
    #galaxy_form .d-flex {
    justify-content: flex-start !important;
    }
    .table[style*="table-layout: fixed"] {
      table-layout: auto !important;
    }
    .fs-12{
      font-size: 12px!important;
    }
    .fs-11{
      font-size: 11px!important;
    }
    .fs-10{
      font-size: 10px!important;
    }
    .fs-9{
      font-size: 9px!important;
    }
    .fs-14{
      font-size: 16px!important;
    }
    .footer-container {
      position: relative;
    }
  }
