@media (max-width: 960px) {
    #main-navigation {
      width: 100% !important;
    }
    .main-menu-container, .toggle-menu-button-container  {
      min-width: 100% !important;
      width: 100% !important;
    }
    .toggle-menu-button, .toggle-menu-button-container {
      margin: 0 auto !important;
    }
    .planets-container {
      padding-bottom: 30px !important;
    }
    .uk-container, .container, .box-border {
      overflow-x: auto !important;
    }
    .center-content-box table {
      font-size: 11px !important;
    }
    .footer-container {
      position: relative;
    }
  }
